.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #a9abaf #edf2f7;
}

.message-box {
  border-top-left-radius: 0; /* Specific rounded corner */
}
.message-box1::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 42px;
  width: 10px;
  height: 10px;
  background: linear-gradient(135deg, #6b7280 0%, #6b7280 50%, transparent 50%, transparent);
  border-top-right-radius: 5px;

}

.circle1::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 43px;
  width: 4px;
  height: 1.5px;
  /* background-color: blue; */
  border-radius: 50%;
  background-color: #6b7280;

}

.message-box::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 42px;
  width: 10px;
  height: 10px;
  background: linear-gradient(225deg, #e5e7eb 0%, #e5e7eb 50%, transparent 50%, transparent);
  border-top-left-radius: 5px;

}

.circle::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 43px;
  width: 4px;
  height: 1.5px;
  /* background-color: blue; */
  border-radius: 50%;
  background-color: #e5e7eb;

}

.message-box1 {
  border-top-right-radius: 0; /* Specific rounded corner */
}

.hide {
	display: none !important;
}
